[user]
	name = Maxime Grébauval
	email = maxime.grebauval@icloud.com
[core]
	pager = hunk pager
[pull]
	rebase = true
[rebase]
	autostash = true
	instructionFormat = [%an @ %ar] %s
[gpg]
	program = gpg
[color]
	ui = true
	diff = true
[safe]
	directory = /usr/local/Homebrew
[merge]
  tool = nvim
  conflictstyle = zdiff3
[mergetool "nvim"]
  cmd = nvim -c "DiffviewOpen"
[mergetool]
  prompt = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
